/* Общее стилизование */
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #232323;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Заголовок */
.funny-title {
    font-size: 3rem;
    color: #ff69b4;
    margin-top: 20px;
    animation: wobble 2s infinite, rainbow 5500ms infinite;
}

/* Анимация для заголовка */
@keyframes wobble {
    0%, 100% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
}

@keyframes rainbow {
    0%, 100% {
        color: #ff0000;
    }
    20% {
        color: #ffa600;
    }
    40% {
        color: #0fff00;
    }
    60% {
        color: #00BFFFFF;
    }
    80% {
        color: #bb26dc;
    }
}

/* Стили формы */
.funny-form {
    margin: 50px auto;
    padding: 20px;
    width: 400px;
    background-color: #ffe4e1;
    border: 5px dashed #ff4500;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Поля ввода */
.funny-form input[type="text"],
.funny-form input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #3e3938;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #ff595947;
}

/* Поля ввода: при наведении */
.funny-form input[type="text"]:hover,
.funny-form input[type="email"]:hover {
    background-color: #f60d0d94;
    transform: scale(1.1);
    transition: 0.3s ease;
}

/* Кнопка */
.funny-button {
    background-color: #ff4500;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    animation: bounce 1s infinite;
}

/* Анимация кнопки */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Кнопка: при наведении */
.funny-button:hover {
    background-color: #ff6347;
    transform: scale(1.2);
    transition: 0.3s ease;
}