{% extends 'base.html' %}

{% block title %}
	Funny Form
{% endblock %}

{% block content %}
    <h1 class="funny-title">Enter Your Details!</h1>
    <form action="/submit" method="POST" class="funny-form">
        <div class="funny-blocks">
            <div class="funny-input">
                <label for="name">Your Super Cool Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div class="funny-input">
                <label for="email">Your Awesome Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="funny-input">
                <label for="color">Your Favourite Color:</label>
                <input type="color" name="color" id="color">
            </div>

            <div class="funny-input">
                <label for="profession">Your Profession:</label>
                <select id="profession" name="profession" class="professions-list">
                    <option value="developer">Developer</option>
                    <option value="designer">Designer</option>
                    <option value="manager">Manager</option>
                </select>
            </div>

            <div class="funny-input">
                <p>Your Very Interesting Hobbies:</p>
                <div class="hobbies">
                    <div class="column">
                        <label><input type="checkbox" name="hobbies" value="books"> Books 📚</label>
                        <label><input type="checkbox" name="hobbies" value="sports"> Sports 🏅</label>
                        <label><input type="checkbox" name="hobbies" value="games"> Games 🕹️</label>
                    </div>
                    <div class="column">
                        <label><input type="checkbox" name="hobbies" value="games"> IT 👨‍💻</label>
                        <label><input type="checkbox" name="hobbies" value="walking"> Walking 🌲</label>
                        <label><input type="checkbox" name="hobbies" value="music"> Music 🎵</label>
                    </div>
                </div>
            </div>

            <div class="funny-input">
                <p>Your Level:</p>
                <div class="levels">
                    <label><input type="radio" name="level" value="beginner" required> Beginner 😀</label>
                    <label><input type="radio" name="level" value="advanced"> Advanced 🤔</label>
                    <label><input type="radio" name="level" value="advanced"> Pro 😎</label>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button type="submit" class="funny-button">🚀 Let's Go!</button>
            <button class="surprise-button" id="runawayBtn" tabindex="1">Click me! &#129315</button>
            <button class="fake-btn"></button>
        </div>
    </form>
{% endblock %}

{% block extra_js %}
    <script type="module" src="{{ url_for('static', filename='js/runaway.js') }}"></script>
{% endblock %}